# Setup default propreties we want on all/most containers
x-default-container: &default-container
  #user: "1000:1000"
  #group_add:
  #  - "109"
  environment:
    - PUID=1000
    - PGID=1000
    - TZ=Europe/London
  restart: unless-stopped

# containers on the arr-stack nework
x-arr-stack-container: &arr-stack-container
  <<: *default-container
  networks:
    - mediarr

services:
  prowlarr:
    <<: *arr-stack-container
    image: linuxserver/prowlarr:latest
    container_name: prowlarr
    hostname: prowlarr 
    ports: 
      - "9696:9696"
    volumes:
      - /data/configs/arr-stack/prowlarr:/config

  overseerr:
    <<: *arr-stack-container
    image: lscr.io/linuxserver/overseerr:latest
    container_name: overseerr
    hostname: overseerr
    environment:
      - LOG_LEVEL=info
      - TZ=Europe/London
    volumes:
      - /data/configs/arr-stack/overseerr:/config
    ports:
      - "5055:5055"
    depends_on:
      - radarr
      - sonarr
    restart: unless-stopped

  # Movie and Show Clients
  radarr:
    <<: *arr-stack-container
    image: lscr.io/linuxserver/radarr:latest
    container_name: radarr
    hostname: radarr 
    volumes:
      - /data/configs/arr-stack/radarr:/config
      - /mnt/D:/data/D
      - /mnt/E:/data/E
      - /mnt/F:/data/F
      - /mnt/NAS1:/data/NAS1
      - /mnt/NAS2:/data/NAS2
      - "/mnt/F/Media/New Downloads/Sab/Completed:/data/downloads"
      - qbittorrent:/data/torrents
    depends_on:
      - prowlarr
      - qbittorrent
      - sabnzbd
    ports: 
      - "7878:7878" 

  sonarr:
    <<: *arr-stack-container
    image: lscr.io/linuxserver/sonarr:latest
    container_name: sonarr
    hostname: sonarr 
    volumes:
      - /data/configs/arr-stack/sonarr:/config
      - /mnt/D:/data/D
      - /mnt/E:/data/E
      - /mnt/F:/data/F
      - /mnt/NAS1:/data/NAS1
      - /mnt/NAS2:/data/NAS2
      - "/mnt/F/Media/New Downloads/Sab/Completed:/data/downloads"
      - qbittorrent:/data/torrents
    depends_on:
      - prowlarr
      - qbittorrent
      - sabnzbd
    ports: 
      - "8989:8989"

  # Download Clients
  sabnzbd:
    <<: *arr-stack-container
    image: lscr.io/linuxserver/sabnzbd:latest
    container_name: sabnzbd
    hostname: sabnzbd
    volumes:
      - /data/configs/arr-stack/sabnzbd:/config
      - "/mnt/F/Media/New Downloads/Sab/Completed:/data/downloads"
      - "/mnt/F/Media/New Downloads/Sab/Temp:/data/incomplete-downloads"
    ports:
      - "8081:8080"
    restart: unless-stopped

  qbittorrent:
    image: ghcr.io/hotio/qbittorrent
    container_name: qbittorrent
    hostname: qbittorrent 
    network_mode: "host" # Host mode to easily allow for NATing
    environment:
      - PUID=1000
      - PGID=1000
      - UMASK=002
      - TZ=Etc/UTC
      - WEBUI_PORTS=8080/tcp,8080/udp
      - LIBTORRENT=v1
    volumes:
      - /data/configs/arr-stack/qbittorrent:/config
      - qbittorrent:/data/torrents
    restart: unless-stopped

networks:
  mediarr: 
    driver: bridge

volumes:
  qbittorrent:
