services:
  app:
    image: 'jc21/nginx-proxy-manager:latest'
    restart: unless-stopped
    environment:
      TZ: "Europe/London"
      PUID: 1000
      PGID: 1000
      DISABLE_IPV6: 'true'
    ports:
      - '80:80'
      - '81:81'
      - '443:443'
    volumes:
      - /data/nginx/data:/data
      - /data/nginx/letsencrypt:/etc/letsencrypt